<tr>
    @if (!IsEditing)
    {
        <td>@Forecast.Date.ToShortDateString()</td>
        <td>@Forecast.TemperatureC</td>
        <td>@Forecast.TemperatureF</td>
        <td>@Forecast.Summary</td>
        <td style="white-space: nowrap;">
            <button class="btn btn-primary" type="button" title="Edit" @onclick="Edit">
                <span class="oi oi-pencil" aria-hidden="true"></span>
            </button>
            <button class="btn btn-danger" type="button" title="Delete" @onclick="Delete">
                <span class="oi oi-trash" aria-hidden="true"></span>
            </button>
        </td>
    }
    else
    {
        <td></td>
        <td>
            <input class="form-control" type="date" @bind="EditModel.Date" disabled="@IsSubmitting" />
        </td>
        <td>
            <input class="form-control" type="number" @bind="EditModel.TemperatureC" disabled="@IsSubmitting" />
        </td>
        <td>
            <input class="form-control" type="number" @bind="EditModel.TemperatureF" disabled="@IsSubmitting" />
        </td>
        <td>
            <input class="form-control" type="text" @bind="EditModel.Summary" disabled="@IsSubmitting" />
        </td>
        <td style="white-space: nowrap;">
            <button class="btn btn-success" disabled="@IsSubmitting" type="submit" title="Save" @onclick="SaveChanges">
                <span class="oi oi-check" aria-hidden="true"></span>
            </button>
            <button class="btn btn-danger" disabled="@IsSubmitting" type="button" title="Discard Changes" @onclick="DiscardChanges">
                <span class="oi oi-action-undo" aria-hidden="true"></span>
            </button>
        </td>
    }
</tr>
